version: '3'

services:
  database:
    image: postgres:11-alpine
    environment:
      POSTGRES_USER: main
      POSTGRES_PASSWORD: main
      POSTGRES_DB: main
    ports:
      - "5433:5432" # Т.к. порт 5432 занят, приходится использовать другой
  redis:
    image: redis:5-alpine
    ports: [6379]
  
  rabbitmq:
    image: rabbitmq:3.7-management
    ports: [5672, 15672]